body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#153677,#4e085f);
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(11, 0, 0, 0.982);
    width: 350px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    color: #e40b0b;
    font-size: 24px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1010fddf;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background: #ff5945;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #03092c;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(bullet.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

li.completed {
    text-decoration: line-through;
    color: rgb(49, 123, 227);
}

li button {
    margin-left: 10px;
    background-color: #162ac3;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

li button.edit {
    background-color: #0a0a96;
}

li button:hover {
    opacity: 0.85;
}